	.masthead {
		height: 100vh;
		min-height: 500px;
		background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.card-signin {
	  border: 0;
	  border-radius: 1rem;
	  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
	}

	.card-signin .card-body {
	  padding: 2rem;
	}

	.form-signin {
	  width: 100%;
	}

	.form-signin .btn {
	  font-size: 80%;
	  border-radius: 7rem;
	  letter-spacing: 0.1rem;
	  font-weight: bold;
	  padding: 1rem;
	  transition: all 0.2s;
	}
	a.btn{
		font-size: 80%;
	  border-radius: 5rem;
	  letter-spacing: 0.1rem;
	  font-weight: bold;
	  padding: 1rem;
	  transition: all 0.2s;
	}
	a.navbar-brand{
		font-size: 2em;
		font-weight: bold;
	font-style: italic;
	}
	h1.font-weight-light{
		font-weight: 500;
	}
	p.lead{
		font-weight: bold;
	}